<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<textarea id="code" cols="30" rows="10"></textarea>
	<button id="submit">submit</button>
	<script>
		function fixedEncodeURIComponent(str) {
			return encodeURIComponent(str).replace(/[!'()*]/g, function(c) {
				return '%' + c.charCodeAt(0).toString(16);
			});
		}

		var el = document.getElementById('submit');
		el.addEventListener('click', () => {
			// Encode URL in JavaScript? https://stackoverflow.com/a/332897	
			// * escape() will not encode: @*/+
			// * encodeURI() will not encode: ~!@#$&*()=:/,;?+'
			// * encodeURIComponent() will not encode: ~!*()'
			var code = document.getElementById('code').value;
			code = fixedEncodeURIComponent(code);
			var args = fixedEncodeURIComponent('gg');

			var request = new XMLHttpRequest();
			request.open('GET', `/execute?code=${code}&args=${args}`, true);
			request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			
			request.onload = function() {
				if (this.status >= 200 && this.status < 400) {
					// Success!
					console.log('Output: ', this.response);
				} else {
					// We reached our target server, but it returned an error
				}
			};

			request.onerror = function() {
			// There was a connection error of some sort
			};

			request.send();
		});
	</script>
</body>
</html>