<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<textarea id="code" cols="30" rows="10"></textarea>
	<button id="submit">submit</button>
	<script>
		var el = document.getElementById('submit');
		el.addEventListener('click', () => {
			var code = encodeURI(document.getElementById('code').value);
			code = code.replace(/#/g, '%23');
			code = code.replace(/!/g, '%21');
			code = code.replace(/\//g, '%2F');
			var args = encodeURI('gg');
			console.log(code);
			console.log(args)

			var request = new XMLHttpRequest();
			request.open('GET', `/execute?code="${code}"&args="${args}"`, true);
			request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			
			request.onload = function() {
				if (this.status >= 200 && this.status < 400) {
					// Success!
					console.log('Output: ', this.response);
				} else {
					// We reached our target server, but it returned an error
				}
			};

			request.onerror = function() {
			// There was a connection error of some sort
			};

			request.send();
		});
	</script>
</body>
</html>